@{
    ViewBag.Title = "Faculty Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Developer = "KB";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-4">@*START LINK TO PROFILE AREA*@
        <h2>Profile</h2>
        <p>
            View and Edit your profile.
        </p>
        <br />
        <p>
            @Html.ActionLink(HttpUtility.HtmlDecode("&laquo; Go &raquo;"), "Index", "Profile", new {area = "Teachers"}, new { @class = "btn btn-default"})
        </p>
    </div>@*END LINK TO PROFILE AREA*@

    <div class="col-md-4">@*START LINK TO STUDENT LIST AREA*@
        <h2>Students</h2>
        <p>
            View all students' grades and details.
        </p>
        <br />
        <p>
            @Html.ActionLink(HttpUtility.HtmlDecode("&laquo; Go &raquo;"), "Index", "Students", new { area = "Teachers" }, new { @class = "btn btn-default" })
        </p>
    </div>@*END LINK TO STUDENT LIST AREA*@
</div>
