@model InTurn_Model.Application
@{
    ViewBag.Title = "New Hire";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2>Your applicant has been hired!</h2>
<br />
@Html.ActionLink("Back to Dashboard", "Index", "EmployerHome", new { area = "Employers" }, new { @class = "btn btn-default" })
