
@{
    ViewBag.Title = "NewHire";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Hired!</h1>

@Html.ActionLink("Back to Dashboard", "Index", "EmployerHome", new { area = "Employers" }, new { @class = "nav-link" })
