@model InTurn_Model.JobPosting

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Employers/Views/Shared/_Employers.cshtml";
    ViewBag.Developer = "TS";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="EmployerID" value="@ViewBag.Employer.EmployerID" />
    
    @Html.Partial("_Edit",@Model)}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
