@model InTurn_Model.JobPosting

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Developer = "TS";
}

<h2>Create Job Postings</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="EmployerID" value="@ViewBag.Employer.EmployerID" />
    
    @Html.Partial("_Edit",@Model)}

