@model InTurn_Model.JobPosting

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Employers/Views/Shared/_Employers.cshtml";
    ViewBag.Developer = "TS";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.JobPostingID)
    @Html.Partial("_Edit",@Model)

  
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
