@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title</h2>

<h3>@ViewBag.Message</h3>
<p>Here at InTurn we are committed to creating brighter futures for Students, Faculty, and Employers by offering an effortless means of finding and staying updated about a wide variety of internships and jobs. </p>
