body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #EAE3EA;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Code For Rust Navbar */
.navbar-nav {
    color: #B56357;
    background-color: #B56357;
    border: black;
    font-weight: bold;
}

/* Code For Sea Foam Navbar */
.sub-navbar-nav {
    color: #A7B3A5;
    background-color: #A7B3A5;
    border-color: black;
    font-weight: bold;
}

/* Code For Buttons */
.btn-default {
    color: black;
    background-color: #B4DBC0;
    /*border-color: black;*/
    /*border-color: #a7b3a5;*/
    border-color: white;
    border-style:groove;
    font-size: 13px;
}

/* Code For Visit Website Page */
.btn-primary {
    color: black;
    background-color: #B4DBC0;
    border-color: dimgrey;
}

/* Code For Rust Colored Buttons */
.sub btn-default {
    color: black;
    background-color: #B56357;
    border-color: black;
}

.btn-edit {
    color: black;
    background-color: #b4d8c0;
    border-color: #a7b3a5;
    border-style:groove;
}

span.developer {
    padding-left: 128px;
    font-weight: bold;
    font-family: Courier New, Courier, monospace;
}

jumbotron {
  background-image: url('../Images/1702087261-huge.jpg');
}

.center-block{
    opacity:.7
}

.lead {
    background-color: #A7B3A5;
    border-radius:25px;
    text-align:center;
    
}

span.assembly {
    font-weight: bold;
    font-family: Courier New, Courier, monospace;
}